
  <mat-toolbar color="accent">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    </button>
    <mat-icon matBadgeColor="warn" routerLink="/dashboard">home</mat-icon><span routerLink="/dashboard">Home</span>
    <span class="min-space" routerLink="/quizzes">Quizes</span>
    <span class="min-space" routerLink="/users">Users</span>
    <span class="min-space" routerLink="/questions">Questions</span>
    <span class="min-space" routerLink="/users">Blogs</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>



<!--
<nav>
  <a class="button" routerLink="/users" routerLinkActive="activebutton">Users</a> |
  <a class="button" routerLink="/questions" routerLinkActive="activebutton">Questions</a> |
  <a class="button" routerLink="/quizzes" routerLinkActive="activebutton">Quizzes</a> |
  <a class="button" routerLink="/dashboard" routerLinkActive="activebutton">Dashboard</a>
</nav>
<router-outlet></router-outlet>
-->
